<h1>Edit Product</h1>
<form action="/products/edit/<%- specificProduct._id %>" method="POST">
    <label>Name: <input type="text" name="name" value="<%- specificProduct.name %>"/></label>
    <label>Price: <input type="number" name="price" value="<%- specificProduct.price %>"/></label>
    <label>Image: <input type="file" name="img"/></label>
    <button type="submit">Edit</button>
</form>