<h1>Products</h1>
<ul>
    <% allProducts.forEach(product => { %>
        <img src="<%- product.img %>">
        <li>
            <%- product.name %>
            <%- product.price %>
            <a href="/products/edit/<%- product._id %>">Edit</a>
        </li>
   <% }); %>
</ul>
