<div class="container">
    <h1 class="display-4">Profile</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Hello <%- user.username %></h2>
            <hr>
            <p class="card-text">Here's some information about your profile:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Email: Sorry can not dispaly it in the presentation</li>
              <li class="list-group-item">Date of Birth: 1993 </li>
              <li class="list-group-item">Country: Saudi Arabia</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  